/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*config. gerais da página*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

button:focus-visible{
    outline-color: transparent;
    outline-width: 0px;
}

/* titulos h1 */
h1{
    text-align: center;
    font-family: 'ABeeZee';
    font-weight: 600;
    font-size: 44px;
    /* color: #419488; */
    color: #FF5722;
    margin: 50px auto 0px auto;
}

/* titulos h2 */
h2{
    font-family: 'ABeeZee';
    font-weight: 400;
    font-size: 32px;
    color: #FF5722;
}

/* formularios */
form{
    margin-bottom: 25px;
}

form label{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #212121;
}

form input:not([type="checkbox"],[type="file"]){
    width: 310px;
    height: 40px;
    background-color: #FFFAFA;
    border-radius: 4px;
    border: solid 1px #757575;
    padding-left: 20px;
}

.container-flex {
    display: flex;
    align-items: flex-start;
    width: 1100px;
    max-width: 100%;
    margin: 50px auto;
    gap: 225px;
}

/* barra lateral */
section.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 15px;
}

section.barra-lateral .foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.barra-lateral .foto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section.barra-lateral .foto img{
    width: 150px;
    margin-bottom: 10px;
}

section.barra-lateral .botao button{
    background-color:  #FF5722;
    opacity: 0.8;
    border: none;
    border-radius: 40px;
    color: #FFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    width: 130px;
    height: 40px;
    cursor: pointer;
}

section.barra-lateral .menu .titulo-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*nome do filtro*/
section.barra-lateral .menu h3{
    font-family: Roboto;
    color: #419488;
}

/*divisor*/
section.barra-lateral .menu img{
    width: 100%;
}

/*lista com os filtros*/
section.barra-lateral .menu ul{
    list-style: none;
    padding: 0;
    font-family: Roboto;
    color: #419488;
    line-height: 27px;
}

/* section conteudo */
section.conteudo{
    width: 700px;
}

section.conteudo,
section.conteudo form #form_editar{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

section.conteudo form,
section.conteudo form label,
section.conteudo p{
    margin: 0;
}

section.conteudo h2{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 40px;
}

section.conteudo .dados h2{
    margin-top: 20px;
}

section.conteudo form .botao button{
    background-color:  #FF5722;
    opacity: 0.8;
    border: none;
    border-radius: 40px;
    color: #FFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat';
    width: 130px;
    height: 40px;
    cursor: pointer;
}


section.conteudo .dados *{
    display: block;
}

section.conteudo .login button,
section.conteudo .excluir button{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

section.conteudo .privacidade input{
    width: 13px;
    height: 13px;
    margin: 3px;
}

section.conteudo .privacidade p,
section.conteudo .excluir p{
    display: inline-block;
}

section.conteudo form .botao,
section.conteudo .login div,
section.conteudo .excluir div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.conteudo .excluir h2{
    margin-top: 40px;
}

section.conteudo form input{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 400px;
}

#nome,
#email{
    margin-bottom: 10px;
}

form input:not([type="checkbox"], [type="file"]):focus-visible{
    outline-color: transparent ;
    outline-width: 0px;
}

section.conteudo form ul{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (max-width: 850px){

    .container{
        width: 90vw;
        max-width: 100%;
    }
   
    header{
        width: 100vw;
        max-width: 100%;
    }

    header .container{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    header .container .botoes {
        padding: 10px;
    }

    .container-flex{
        max-width: 100vw;
        flex-direction: column;
        align-items: center;
        gap: 75px;
    }

    section.barra-lateral .menu{
        display: none;
    }

    section.conteudo{
        max-width: 100vw;
    }

    section.conteudo #form_editar .dados .botao{
        flex-wrap: wrap;
    }

    section.conteudo .excluir div{
        flex-wrap: wrap;
    }

}

@media (max-width: 685px){

    header .container .logo-e-barra {
        max-width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    header .container .logo img {
        width: 120px;
        margin-right: 0;
    }
} 

@media (max-width: 525px){

    header .container .barra form input{
        max-width: 80vw;
    }

    header .container .barra form button {
        position: absolute;
        left: 85%;
        padding-right: 20px;
    }

    section.conteudo form input{
        max-width: 100vw;
    }

    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container .logo-e-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container .redes-sociais{
        padding-left: 30px;
    }

}

@media (max-width: 440px){

    section.barra-lateral{
        flex-direction: column;
        justify-content: space-between;
    }

}