@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.paginaLogin * {
    font-family: 'Roboto', sans-serif;
}

/* seção principal */

.paginaLogin main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.paginaLogin .container .card-login {
    background-color: #F2F1F1;
    width: 34%;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px 48px 18px;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 25%);
}

.paginaLogin .container .card-login h1 {
    color: #212121;
    font-size: 22px;
    text-align: center;
}

.paginaLogin .container .card-login span {
    color: #FF5722;
}

.paginaLogin .container .card-login #ki {
    color: #009688;
}

.paginaLogin .container .card-login form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px
}

.paginaLogin .container .card-login form label {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin: 0;
}

.paginaLogin .container .card-login form input {
    width: 100%;
    height: 40px;
    background-color: #FFFAFA;
    border-radius: 4px;
    border: solid 1px #757575;
    padding-left: 20px;
    margin: 0;
    color: #212121;
    font-family: inherit;
    font-size: 15px;
    outline: none;
}

.paginaLogin .container .card-login form .input-icone {
    position: relative;
    width: 100%;
}

.paginaLogin .container .card-login form input[type=password] {
    width: 100%;
    padding-right: 50px;
}

.paginaLogin .container .card-login form .olho {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 42px;
    margin-right: 12px;
}

.paginaLogin input::placeholder {
    color: #757575;
    opacity: 60%;
    font-family: 'Montserrat', sans-serif;
}

.paginaLogin .container .card-login form .input-icone .esqueci-senha {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.paginaLogin .container .card-login form .input-icone .esqueci-senha a {
    text-decoration: none;
    font-size: 12px;
    color: #FF5722;
    font-weight: 700;
}

/* ul da verficacação do formulário */

.paginaLogin .erros {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #757575;
}

.paginaLogin .container .card-login form .btn-continuar,
.paginaLogin .container .card-login form .btn-facebook {
    width: 100%;
}

.paginaLogin .container .card-login form .btn-continuar button {
    width: 100%;
    height: 45px;
    background-color: #FF5722;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 22px;
}

.paginaLogin .container .card-login form .btn-continuar button:hover,
.paginaLogin .container .card-login .btn-facebook button:hover {
    opacity: 80%;
}

.paginaLogin .container .card-login form .btn-continuar button:active,
.paginaLogin .container .card-login .btn-facebook button:active {
    transform: scale(0.99);
}

.paginaLogin .container .card-login form .btn-continuar button:focus,
.paginaLogin .container .card-login .btn-facebook button:focus {
    outline: 0;
}

.paginaLogin .container .card-login .line {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    width: 100%;
}

.paginaLogin .container .card-login .line hr {
    width: 100%;
    opacity: 60%;
}

.paginaLogin .container .card-login .line span {
    font-size: 14px;
    color: #212121;
}

.paginaLogin .container .card-login .btn-facebook button {
    width: 100%;
    height: 45px;
    background-color: #2C54AE;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
}

.paginaLogin .container .card-login .tem-cadastro {
    margin: 14px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginaLogin .container .card-login .tem-cadastro h2 {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 16px;
}

.paginaLogin .container .card-login .tem-cadastro a {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 5px;
}


/* responsividade */

@media (max-width: 768px) {
    .paginaLogin .container .card-login {
        width: 320px;
    }

    .paginaLogin .container .card-login .tem-cadastro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}