/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*config. gerais da página*/
.perfilPublico * {
    box-sizing: border-box;
}

.perfilPublico body {
    margin: 0;
    padding: 0;
}

.perfilPublico .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.perfilPublico .containerFlex {
    display: flex;
    align-items: flex-start;
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
    gap: 150px;
}

/* section barraLateral */
.perfilPublico section.barraLateral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
}

.perfilPublico section.barraLateral .infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #F2F1F1;
    border-radius: 15px;
    height: 400px;
}

.perfilPublico section.barraLateral .infos h3{
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 400;
    margin: 0;
}

.perfilPublico section.barraLateral .infos #foto_perfil{
    width: 90%;
}

.perfilPublico section.barraLateral .infos .estrelas{
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.perfilPublico section.barraLateral .infos .estrelas img{
    width: 30px;
    height: 25px;
}

.perfilPublico section.barraLateral .infos #linha_cinza{
    width: 80%;
    height: 1.5px;
}

.perfilPublico section.barraLateral .infos a{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/*titulo do filtro e divisor*/
.perfilPublico section.barraLateral .filtros {
    width: 80%;
}

.perfilPublico section.barraLateral .filtros .tituloFiltro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*nome do filtro*/
.perfilPublico section.barraLateral .filtros h3{
    font-family: Roboto;
    color: #419488;
}

/*divisor*/
.perfilPublico section.barraLateral .filtros img{
    width: 100%;
}

/*lista com os filtros*/
.perfilPublico section.barraLateral .filtros ul{
    list-style: none;
    padding: 0;
    font-family: Roboto;
    color: #419488;
    line-height: 27px;
}
.perfilPublico section.barraLateral .filtros ul li a{
    text-decoration: none;
    color: #419488;
}
.perfilPublico section.barraLateral .filtros ul li a:hover{
    color: #a9dbd4;
    transition: 0.5s;
}

/* section conteudo */
.perfilPublico section.conteudo{
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.perfilPublico section.conteudo h2{
    font-size: 38px;
    font-weight: 36;
    font-family: 'ABeeZee';
    color: #FF5722;
    margin-top: 0;
}

/* section anuncios */
.perfilPublico section.anuncios{
    display: flex;
    justify-content: space-between;
}

.perfilPublico section.anuncios .cardProduto {
    cursor: pointer;
}

.perfilPublico section.anuncios .cardProduto .thumb img {
    width: 240px;
    height: 150px;
    background-size: cover;
}

.perfilPublico section.anuncios .cardProduto .info>div {
    display: flex;
    align-items: center;
}

.perfilPublico section.anuncios .cardProduto .info h3 {
    color: #484848;
    margin-bottom: 5px;
}

.perfilPublico section.anuncios .cardProduto .info {
    color: #757575;
}

.perfilPublico section.anuncios .cardProduto .info img {
    width: 25px;
    height: 21px;
    margin-right: 2px;
}

.perfilPublico section.anuncios .cardProduto .info small {
    font-size: 15px;
    margin-right: 5px;
}

.perfilPublico section.anuncios .cardProduto .info .pontuacao {
    color: #484848;
}

.perfilPublico section.anuncios .cardProduto .localiz {
    margin-top: 5px;
}

.perfilPublico section.anuncios .cardProduto .localiz img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
}

.perfilPublico section.anuncios .cardProduto .info .preco {
    font-size: 20px;
    color: #FF5722;
}

.perfilPublico section.anuncios button{
    padding: 0;
    background-color: transparent;
    border: none;

    position: relative;
    bottom: 80px;
    cursor: pointer;
}

.perfilPublico section.anuncios button:focus-visible{
    outline-color: transparent;
    outline-width: 0px;
}

.perfilPublico section.anuncios button img{
    width: 25px;
}

.perfilPublico div.botaoVerMais{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.perfilPublico div.botaoVerMais span {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #FF5722;
    font-size: 18px;
    font-weight: 900;
}

.perfilPublico div.botaoVerMais img {
    margin-left: 5px;
    width: 10px;
}

.perfilPublico div.botaoVerMais a {
    text-decoration: none;
}

/* section avaliacoes */
.perfilPublico section.avaliacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfilPublico #titulo_avaliacao{
    margin-top: 35px;
}

.perfilPublico section.avaliacoes button{
    border: none;
    background: transparent;
    padding: 0;
}

.perfilPublico section.avaliacoes button:focus-visible{
    outline-color: transparent;
    outline-width: 0px;
}

.perfilPublico section.avaliacoes button img{
    cursor: pointer;
}

.perfilPublico section.avaliacoes .seta_esquerda button img{
    transform: scaleX(-1);
}

.perfilPublico section.avaliacoes .seta_esquerda button img,
.perfilPublico section.avaliacoes .seta_direita button img{
    width: 25px;
}

.perfilPublico section.avaliacoes .cardAvaliacao{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 550px;
}

.perfilPublico section.avaliacoes .cardAvaliacao .avaliador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfilPublico section.avaliacoes .cardAvaliacao .avaliador #perfil_avaliador{
    width: 125px;
    margin-right: 25px;
}

.perfilPublico section.avaliacoes .cardAvaliacao .avaliador .infos{
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.perfilPublico section.avaliacoes .cardAvaliacao .avaliador .infos h3{
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 800px;
    margin: 0;
}

.perfilPublico section.avaliacoes .cardAvaliacao .avaliador .infos .estrelas img{
    width: 30px;
    height: 25px;
}

.perfilPublico section.avaliacoes .cardAvaliacao p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.perfilPublico section.avaliacoes .cardAvaliacao .seletores{
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.perfilPublico section.avaliacoes .cardAvaliacao .seletores img{
    margin-top: 40px;
    width: 13px;
}

@media (max-width: 1100px){

    /* header e footer */
    .container{
        max-width: 100vw;
    }

    /* barraLateral e conteudo */
    .perfilPublico .containerFlex{
        width: 100vw;
        max-width: 100%;
        gap: 100px;
    }

    .perfilPublico section.barraLateral{
        max-width: 20vw;
    }

    /* no javascript, substituir por uma estrela com o valor numerico ao lado */
    .perfilPublico section.barraLateral .infos .estrelas img{
        aspect-ratio: 6 / 5;
    }

    /* no javascript, substituir por uma imagem de whatsapp com o link e tirar o numero */
    .perfilPublico section.barraLateral .infos a{
        text-align: center;
    }

    .perfilPublico section.conteudo{
        max-width: 70vw;
        flex-wrap: wrap;
    }

    .perfilPublico section.anuncios,
    .perfilPublico section.avaliacoes{
        max-width: 70vw;
    }

    .perfilPublico section.anuncios .cardProduto{
        max-width: 20vw;
    }

    .perfilPublico section.anuncios .cardProduto .thumb img {
        width: 240px;
        max-width: 20vw;
        max-height: 16vw;
    }

    .perfilPublico div.botaoVerMais span {
        font-size: 18px;
    }
    
    .perfilPublico div.botaoVerMais img {
        margin-left: 5px;
        width: 10px;
    }
    
    .perfilPublico div.botaoVerMais a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .perfilPublico section.avaliacoes .cardAvaliacao p{
        word-wrap: break-word;
    }

}

@media (max-width: 850px){

    .perfilPublico .containerFlex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .perfilPublico section.barraLateral{
        align-items: center;
    }

    .perfilPublico section.barraLateral .filtros{
        display: none;
    }

    .perfilPublico section.barraLateral .infos{
        width: 205px;
        max-width: 205px;
    }

}

@media (max-width: 685px){

    .perfilPublico section.anuncios{
        justify-content: space-around;
    }

    .perfilPublico section.anuncios{
        display: flex;
        justify-content: space-between;
    }

    .perfilPublico section.anuncios .cardProduto{
        max-height: 80%;
        max-width: 80%;
        cursor: pointer;
    }

    .perfilPublico section.anuncios .cardProduto .thumb img{
        width: 200px;
        height: 125px;
        max-width: 30vw;
        max-height: 24vw;
    }

    .perfilPublico section.anuncios div.cardProduto:nth-child(3){
        display: none;
    }

} 

@media (max-width: 585px){

    .perfilPublico div.cardProduto + div.cardProduto{
        display: none;
    }

    .perfilPublico section.anuncios{
        display: flex;
        justify-content: space-evenly;
    }

    .perfilPublico section.anuncios .cardProduto{
        max-height: 100%;
        max-width: 100%;
        cursor: pointer;
    }

    .perfilPublico section.anuncios .cardProduto .thumb img{
        width: 240px;
        height: 150px;
        max-width: 60vw;
        max-height: 48vw;
    }

    .perfilPublico section.avaliacoes .cardAvaliacao .avaliador{
        flex-direction: column;
        align-items: center;
    }

    .perfilPublico section.avaliacoes .cardAvaliacao .avaliador #perfil_avaliador{
        margin-right: 0;
    }

    .perfilPublico section.avaliacoes .cardAvaliacao .avaliador .infos{
        align-items: center;
    }

} 


