@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.paginaInicial * {
    font-family: 'Roboto', sans-serif;
}

.paginaInicial h1,
.paginaInicial h2 {
    font-family: 'ABeeZee', sans-serif;
}

.paginaInicial input {
    font-family: 'Montserrat', sans-serif;
}

/*  parte principal barra de pesquisa */

.paginaInicial .parte-principal {
    overflow: hidden;
    background-repeat: repeat;
    padding: 110px 0 110px;
}

.paginaInicial .parte-principal .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.paginaInicial .parte-principal .container .frase-principal h1 {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa input,
select {
    color: #757575;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    outline: none;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa select {
    width: 150px;
    background: transparent;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa input {
    width: 70%;
    padding: 8px;
    font-size: 16px;
}

.paginaInicial input::placeholder {
    color: #757575;
    opacity: 60%;
    font-size: 16px;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .barra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 60vw;
    height: 60px;
    padding: 0px 20px 0px 40px;
    border-radius: 30px;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .barra .opt-localizacao {
    flex: 1;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .barra .opt-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .pesquisar-produto-mobile {
    display: none;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .barra .pesquisar-produto {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .lupa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .lupa button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .lupa button img {
    width: 30px;
}

.paginaInicial .parte-principal .container .barra-de-pesquisa .lupa button:hover {
    opacity: 80%;
}

/*  seção produtos por categoria */

.paginaInicial .produtos-por-categoria {
    padding: 50px 0 70px;
}

.paginaInicial .produtos-por-categoria .container .botoes-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 70px;
}

.paginaInicial .produtos-por-categoria .container .botoes-categoria button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: #757575;
}

.paginaInicial .produtos-por-categoria .container .botoes-categoria button.ativo,
.paginaInicial .produtos-por-categoria .container .botoes-categoria button:hover {
    color: #FF5722;
}

.paginaInicial .produtos-por-categoria .container .botoes-categoria span {
    font-size: 28px;
    color: #757575;
}

.paginaInicial .produtos-por-categoria .container .card-produto {
    cursor: pointer;
}

.paginaInicial .produtos-por-categoria .container .card-produto .thumb img {
    width: 240px;
    height: 150px;
    background-size: cover;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info>div {
    display: flex;
    align-items: center;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info h3 {
    color: #484848;
    margin-bottom: 5px;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info {
    color: #757575;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info img {
    width: 25px;
    height: 21px;
    margin-right: 2px;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info small {
    font-size: 15px;
    margin-right: 5px;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info .pontuacao {
    color: #484848;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .localiz {
    margin-top: 5px;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .localiz img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
}

.paginaInicial .produtos-por-categoria .container .lista-produtos .card-produto .info .preco {
    font-size: 20px;
    color: #FF5722;
}

.paginaInicial .produtos-por-categoria .container .botao-ver-mais {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 30px;
}

.paginaInicial .produtos-por-categoria .container .botao-ver-mais span {
    color: #FF5722;
    font-size: 18px;
    font-weight: 900;
}

.paginaInicial .produtos-por-categoria .container .botao-ver-mais img {
    margin-left: 5px;
    width: 10px;
}

.paginaInicial .produtos-por-categoria .container .botao-ver-mais a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* seção banner */

.paginaInicial .banner-anunciar {
    height: 402px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.paginaInicial .banner-anunciar .gradient {
    background-color: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8981967787114846) 0%,
            rgba(0, 0, 0, 0.7133228291316527) 35%, rgba(0, 0, 0, 0.01584383753501406) 51%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.paginaInicial .banner-anunciar .container .frase-banner {
    width: 20px;
}

.paginaInicial .banner-anunciar .container .frase-banner h2 {
    color: #FFFFFF;
    font-size: 48px;
    text-align: left;
    margin-top: 70px;
}

.paginaInicial .banner-anunciar .container .botao-saiba-mais button {
    font-size: 18px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.paginaInicial .banner-anunciar .container .botao-saiba-mais button:hover {
    opacity: 80%;
}

.paginaInicial .banner-anunciar .container .botao-saiba-mais button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}