/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*section com o formulário*/
/* título da página */
.cadastroProduto .formulario h1{
    margin-left: 40px;
   /*margin-bottom: 40px;
   margin-top: 50px; */
   font-family: 'ABeeZee';
   font-weight: 600;
   font-size: 44px;
   color: #FF5722;
}
.cadastroProduto form input:focus-visible,
.cadastroProduto form textarea:focus-visible{
   outline-color: transparent ;
   outline-width: 0px;
}
/* formulário */
.cadastroProduto .formulario .container form{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
/* div com o preço e categoria */
.cadastroProduto .formulario .container .esq .preco-cat{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
/* div com o preço */
.cadastroProduto .formulario .container .esq .preco-cat .preco div{
   display: flex;
   align-items:center;
   justify-content: flex-start;
   width: 100px;
}

/* calendario */

.cadastroProduto section.formulario .dir img{
   width: 360px;
   height: 234px;
   margin: 0;
}

/* menuzinho com o período do preço */
.cadastroProduto .formulario .container .esq .preco-cat .preco #periodo{
   border-style: none;
   color: #757575;
   font-weight: 400;
   font-size: 20px;
}
/* menuzinho com as opções de categoria */
.cadastroProduto .formulario .container .esq .preco-cat .cat #categoria{
   border-style: none;
   color: #757575;
   font-weight: 400;
   font-size: 20px;
   margin-bottom: 20px;
}
/* input para receber as fotos */
.cadastroProduto .formulario .container .esq .upload-fotos input {
   display: none;
}
.cadastroProduto .formulario .container .esq .upload-fotos label{
   border-style: dotted;
   display: inline-block;
   text-align: center;
   padding: 15px;
   margin: 15px 0;
   cursor:pointer;
}
.cadastroProduto .formulario .container .esq .upload-fotos p{
   font-size: 20px;
   color: #757575;
   margin-bottom: 2px;
   font-family: Roboto;
}
.cadastroProduto .formulario .container .dir img{
   margin-top: 50px;
}
.cadastroProduto .formulario .container .dir .disponibilidade{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}
.cadastroProduto .formulario .container .dir .dispo{
   align-items: flex-start;
}

.cadastroProduto .formulario .container .botoes{
   width: 100%;
   text-align: center;
   margin-top: 60px;
} 
.cadastroProduto .formulario .container .botoes button{
   background-color: transparent;
   border: solid 2px #FF5722;
   cursor: pointer;
   width: 130px;
   height: 40px;
   border-radius: 40px;
   margin-top: 50px;
   margin-bottom: 100px;
}
.cadastroProduto .formulario .container .botoes #btn-anunciar {
   background-color: #FF5722;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 700;
}
.cadastroProduto .formulario .container .botoes #btn-cancelar{
   width: 130px;
   height: 40px;
   color: #FF5722;
   font-size: 20px;
   font-weight: 700;
   margin-right: 15px;
}
.cadastroProduto .formulario .container .botoes button:hover {
   opacity: 80%;
}
.cadastroProduto .formulario .container .botoes button:active {
   transform: scale(0.99);
   transition: all 0.1s ease-in-out;
}

.cadastroProduto section.formulario form ul{
   list-style: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   color: #757575;
   margin-top: 5px;
   margin-bottom: 10px;
}


/* titulos h2 */
.cadastroProduto h2{
   font-family: 'ABeeZee';
   font-weight: 400;
   font-size: 32px;
   color: #FF5722;
}

/* formularios */
.cadastroProduto form{
   margin-bottom: 25px;
}
.cadastroProduto form label{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 20px;
   color: #757575;
   margin-bottom: 60px
}
.cadastroProduto form input:not([type="radio"]){
   width: 500px;
   height: 40px;
   background-color: #FFFAFA;
   border-radius: 4px;
   border: solid 1px #757575;
   padding-left: 20px;
}
.cadastroProduto form textarea{
   width: 100%;
   height: 250px;
   background-color: #FFFAFA;
   border-radius: 4px;
   border: solid 1px #757575;
   padding-left: 20px;
   padding-top: 10px;
   margin-bottom: 20px;
} 


@media (max-width: 1255px){
   .cadastroProduto .container{
       flex-wrap: wrap;
       width: 100%;
   }
   .cadastroProduto .formulario .container{
       margin-right: 30px;
       flex-wrap: wrap;
   }
}
@media (max-width: 995px){
   .cadastroProduto .container{
       width: 100%;
   }
   .cadastroProduto .formulario .container form{
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       gap: 20px;
       width: 100%;
       margin-left: 0;
   }
   .cadastroProduto .formulario h1{
       text-align: center;
       margin-left: 0;
   }
   .cadastroProduto form{
      max-width: 100vw;
   }
   .cadastroProduto input,
   .cadastroProduto textarea{
      max-width: 90vw;
   }

}
@media (max-width: 669px){
   .cadastroProduto .logo-e-barra{
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .cadastroProduto .preco-cat{
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   .cadastroProduto form .dir,
   .cadastroProduto form .dir img{
      max-width: 90vw;
      max-heigth: 65vw;
   }
}
@media (max-width: 518px){
   .cadastroProduto .logo-e-barra .barra input{
       width: 20%;
   }
}
