.headerPaginaInicial header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPaginaInicial header {
    background-color: #F2F1F1;
}

.headerPaginaInicial header .container .logo img {
    width: 120px;

}

.headerPaginaInicial header .container .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerPaginaInicial header .container .botoes button {
    background-color: transparent;
    border: solid 2px #FF5722;
    cursor: pointer;
}

.headerPaginaInicial header .container .botoes button:hover {
    opacity: 80%;
}

.headerPaginaInicial header .container .botoes button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

.headerPaginaInicial header .container .botoes a button {
    /* tirei o first child*/
    width: 130px;
    height: 40px;
    margin-right: 20px;
    border-radius: 40px;
    background-color: #FF5722;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.headerPaginaInicial header .container .botoes .dropdown>button {
    border-radius: 50%;
    padding: 8px 12px;
}

.headerPaginaInicial header .container .botoes .dropdown>button img {
    width: 20px;
}

/* menu */

/* 
header .container .dropdown {
    position: relative;
}

header .container .dropdown img {
    pointer-events: none;
}

header .container .dropdown .dropdown-menu {
    position: absolute;
    right: 0;
    width: 150px;
    height: 150px;
    top: calc(100% + .99rem);
    background-color: #FFFFFF;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 150ms ease-in-out;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}

.dropdown.active>.login+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

header .container .dropdown .dropdown-menu ul {
    padding: 0px 10px;
}

header .container .dropdown .dropdown-menu ul li {
    list-style: none;
    margin: 10px;
}

.dropdown-menu ul a {
    text-decoration: none;
    color: #757575;
    font-weight: bold;
    font-size: 18px;
}

.dropdown-menu ul a:hover {
    color: #FF5722;
} */

@media (max-width: 768px) {
    .headerPaginaInicial header {
        padding: 0 12px 0 12px;
    }

    .headerPaginaInicial header .container .botoes a>button:first-child  {
        margin: 4px;
    }
}