@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* seção principal */

* {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .card-cadastre-se {
    background-color: #F2F1F1;
    width: 34%;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px 48px 18px;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 25%);
}

.container .card-cadastre-se h1 {
    color: #212121;
    font-size: 22px;
    text-align: center;
}

.container .card-cadastre-se span {
    color: #FF5722;
}

.container .card-cadastre-se #ki {
    color: #009688
}

.container .card-cadastre-se form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px
}

.container .card-cadastre-se form label {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin: 0;
}

.container .card-cadastre-se form input[type=text],
.container .card-cadastre-se form input[type=email],
.container .card-cadastre-se form input[type=password] {
    width: 100%;
    height: 40px;
    background-color: #FFFAFA;
    border-radius: 4px;
    border: solid 1px #757575;
    padding: 0 20px;
    margin: 0;
    color: #212121;
    font-family: inherit;
    font-size: 15px;
    outline: none;
}

.container .card-cadastre-se form .input-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    background-color:#FFFAFA;
    border: solid 1px #757575;
    border-radius: 4px;
    padding: 0 20px;

}

.container .card-cadastre-se form input[type=password] {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
}

.container .card-cadastre-se form .olho {
    background-color: #ffff;
    border: none;
    cursor: pointer;
    width: 22px;
}

input::placeholder {
    color: #757575;
    opacity: 60%;
    font-family: 'Montserrat', sans-serif;
}

/* ul da verficacação do formulário */

.erros {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #757575;
}

.container .card-cadastre-se form hr {
    width: 100%;
    border-bottom: -1px solid #757575;
    opacity: 60%;
    margin: 0;
    margin-bottom: 8px;
}

.container .card-cadastre-se form .checkboxes {
    display: flex;
    gap: 10px;
}

.container .card-cadastre-se form .checkboxes label {
    font-family: 'Montsserat', sans-serif;
    font-size: 14px;
    color: #212121;
}

.container .card-cadastre-se form .btn-criar-conta,
.container .card-cadastre-se form .btn-facebook {
    width: 100%;
}

.container .card-cadastre-se form .btn-criar-conta button {
    width: 100%;
    height: 45px;
    background-color: #FF5722;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 22px;
}

.container .card-cadastre-se form .btn-criar-conta button:hover,
.container .card-cadastre-se .btn-facebook button:hover {
    opacity: 80%;
}

.container .card-cadastre-se form .btn-criar-conta button:active,
.container .card-cadastre-se .btn-facebook button:active {
    transform: scale(0.99);
}

.container .card-cadastre-se form .btn-criar-conta button:focus,
.container .card-cadastre-se .btn-facebook button:focus {
    outline: 0;
}

.container .card-cadastre-se .line {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.container .card-cadastre-se .line hr {
    width: 145px;
    opacity: 60%;
}

.container .card-cadastre-se .line span {
    font-size: 14px;
    color: #212121;
}

.container .card-cadastre-se .btn-facebook button {
    width: 100%;
    height: 45px;
    background-color: #2C54AE;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
}

.container .card-cadastre-se .tem-cadastro {
    margin: 14px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card-cadastre-se .tem-cadastro h2 {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 16px;
}

.container .card-cadastre-se .tem-cadastro a {
    color: #757575;
    font-size: 18px;
}