/*config. header*/
header.headerSecundario {
    background-color: #F2F1F1;
}

header.headerSecundario .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.headerSecundario .container .logo-e-barra {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
/*config. logo*/
header.headerSecundario .container .logo img {
    width: 120px;
    margin-right: 45px;
}
/*config. barra de pesquisa*/
header.headerSecundario .container .barra {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header.headerSecundario .container .barra form{
    margin: 0;
}

header.headerSecundario .container .barra form input{
    padding: 0 0 0 20px;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #419488;
    background-color: #FFFFFF;
    position: relative;
}

header.headerSecundario .container .barra form input:focus-visible{
    outline-color: transparent;
    outline-width: 0px;
}

header.headerSecundario .container .barra form button {
    position: absolute;
    top: 3px;
    bottom: 0px;
    left: 404px;
    border: transparent;
    background-color: transparent;
    padding-right: 20px;
}

header.headerSecundario .container .barra form button img{
    width: 20px;
    cursor: pointer;
}

/*config. botoes de anunciar e menu*/
header.headerSecundario .container .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

header.headerSecundario .container .botoes button {
    background-color: transparent;
    border: solid 2px #FF5722;
    cursor: pointer;
}

header.headerSecundario .container .botoes button:hover {
    opacity: 80%;
}

header.headerSecundario .container .botoes button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

header.headerSecundario .container .botoes a button {
    /* tirei o first child*/
    width: 130px;
    height: 40px;
    margin-right: 20px;
    border-radius: 40px;
    background-color: #FF5722;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

header.headerSecundario .container .botoes .dropdown>button {
    border-radius: 50%;
    padding: 8px 12px;
}

header.headerSecundario .container .botoes .dropdown>button img {
    width: 20px;
}

.headerSecundario .dropdown-menu-escondido{
    opacity: 0 !important;
}

 .headerSecundario .dropdown {
    position: relative;
}

.headerSecundario .dropdown-menu {
    position: absolute;
    right: 0;
    width: 150px;
    height: 150px;
    top: calc(100% + .99rem);
    opacity: 1;
    background-color: #FFFFFF;
    border-radius: 15px;
    transform: translateY(-10px);
    transition: all 110ms ease-in-out;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}

.headerSecundario .dropdown-menu ul {
    padding: 0px 10px;
}

.headerSecundario .dropdown-menu ul li {
    list-style: none;
    margin: 10px;
}

.headerSecundario .dropdown-menu ul a {
    text-decoration: none;
    color: #757575;
    font-weight: bold;
    font-size: 18px;
}

.headerSecundario .dropdown-menu ul a:hover {
    color: #FF5722;
}

@media (max-width: 850px){

    .headerSecundario .container{
        width: 90vw;
        max-width: 100%;
    }
   
    header.headerSecundario{
        width: 100vw;
        max-width: 100%;
    }

    header.headerSecundario .container{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    header.headerSecundario .container .botoes {
        padding: 10px;
    }

}

@media (max-width: 769px){

    .headerSecundario .container{
        flex-wrap: wrap;
    }
    header.headerSecundario .container{
        justify-content: center;
    }
    header.headerSecundario .container .logo-e-barra{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    header.headerSecundario .container .botoes{
        margin-bottom: 10px;
    }
}

@media (max-width: 685px){

    header.headerSecundario .container .logo-e-barra {
        max-width: 100vw;
        flex-direction: column;
        justify-content: center;
    }

    header.headerSecundario .container .logo img {
        width: 120px;
        margin-right: 0;
    }
} 

@media (max-width: 585px){

    header.headerSecundario .container .barra form input{
        max-width: 80vw;
    }

    header.headerSecundario .container .barra form button {
        position: absolute;
        left: 85%;
        padding-right: 20px;
    }

    footer .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container .logo-e-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container .redes-sociais{
        padding-left: 30px;
    }

} 