/*config. header*/
header {
    background-color: #F2F1F1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo-e-barra {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
/*config. logo*/
header .container .logo img {
    width: 120px;
    margin-right: 45px;
}
/*config. barra de pesquisa*/
header .container .barra {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .container .barra form{
    margin: 0;
}

header .container .barra form input{
    padding: 0 0 0 20px;
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #419488;
    background-color: #FFFFFF;
    position: relative;
}

header .container .barra form input:focus-visible{
    outline-color: transparent;
    outline-width: 0px;
}

header .container .barra form button {
    position: absolute;
    top: 3px;
    bottom: 0px;
    left: 404px;
    border: transparent;
    background-color: transparent;
    padding-right: 20px;
}

header .container .barra form button img{
    width: 20px;
    cursor: pointer;
}

/*config. botoes de anunciar e menu*/
header .container .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container .botoes button {
    background-color: transparent;
    border: solid 2px #FF5722;
    cursor: pointer;
}

header .container .botoes button:hover {
    opacity: 80%;
}

header .container .botoes button:active {
    transform: scale(0.99);
    transition: all 0.1s ease-in-out;
}

header .container .botoes a button { 
    width: 130px;
    height: 40px;
    margin-right: 20px;
    border-radius: 40px;
    background-color: #FF5722;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto';
}

header .container .botoes .dropdown>button {
    border-radius: 50%;
    padding: 8px 12px;
}

header .container .botoes .dropdown>button img {
    width: 20px;
}

/* menu */


header .container .dropdown {
    position: relative;
}

header .container .dropdown img {
    pointer-events: none;
}

header .container .dropdown .dropdown-menu {
    position: absolute;
    right: 0;
    width: 150px;
    height: 150px;
    top: calc(100% + .99rem);
    background-color: #FFFFFF;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 150ms ease-in-out;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}

.dropdown.active>.login+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

header .container .dropdown .dropdown-menu ul {
    padding: 0px 10px;
}

header .container .dropdown .dropdown-menu ul li {
    list-style: none;
    margin: 10px;
}

.dropdown-menu ul a {
    text-decoration: none;
    color: #757575;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto';
}

.dropdown-menu ul a:hover {
    color: #FF5722;
}