/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*config. gerais da página*/
.paginaCategorias * {
    box-sizing: border-box;
}

.paginaCategorias body {
    margin: 0;
    padding: 0;
}

.paginaCategorias .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/*container com filtro e produtos*/
.paginaCategorias .produtos .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}
/*filtros*/
/*menu responsivo*/
.paginaCategorias .produtos .menu-filtros{
    display: none;
}
.paginaCategorias .produtos .dropdown {
    display: none;
}
/*titulo do filtro e divisor*/

.paginaCategorias .produtos .filtros .titulo-filtro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
/*nome do filtro*/
.paginaCategorias .produtos .filtros h3{
    font-family: Roboto;
    color: #419488;
}
/*divisor*/
.paginaCategorias .produtos .filtros img{
    width: 200px;
}
/*lista com os filtros*/
.paginaCategorias .produtos .filtros ul{
    list-style: none;
    padding: 0;
    font-family: Roboto;
    color: #419488;
    line-height: 27px;
}
.paginaCategorias .produtos .filtros ul li a{
    text-decoration: none;
    color: #419488;
}
.paginaCategorias .produtos .filtros ul li a:hover, label:hover{
    color: #a9dbd4;
    transition: 0.5s;
}

/*lista com os anúncios*/
.paginaCategorias .produtos .lista-produtos {
    margin-top: 53px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 60px;
}
/*título da categoria*/
.paginaCategorias .produtos .titulo{
    font-family: Abeezee;
    font-size: 30px;
    color: #FF5722;
    margin-left: 430px;
    margin-top: 100px;
    margin-bottom: 0;
}
/*card do anúncios*/
.paginaCategorias .produtos .lista-produtos .card-produto{
    width: 240px;
    margin-bottom: 30px;
}
/*imagem do produto*/
.paginaCategorias .produtos .lista-produtos .card-produto .thumb img{
    width: 240px;
    max-width: 100%;
    height: 150px;
}
/*nome do produto*/
.paginaCategorias .produtos .lista-produtos .card-produto h3{
    font-family: Roboto;
    color: #484848;
    margin-bottom: 5px;
}
/*info do produto*/
.paginaCategorias .produtos .lista-produtos .card-produto .info > div {
    display: flex;
    align-items: center;
}
/*estrela de avaliação*/
.paginaCategorias .produtos .lista-produtos .card-produto img{
    width: 25px;
    height: 21px;
    margin-right: 2px;
}
/* avaliação e número de avaliações */
.paginaCategorias .produtos .lista-produtos .card-produto .info small{
    font-family: Roboto;
    font-size: 15px;
    margin-right: 5px;
}
/*localização do produto*/
.paginaCategorias .produtos .lista-produtos .card-produto .localiz{
    margin-top: 5px;
}
/*imagem de localiz.*/
.paginaCategorias .produtos .lista-produtos .card-produto .localiz img{
    width: 17px;
    height: 17px;
    margin-right: 2px;
}
/*preço do produto*/
.paginaCategorias .produtos .lista-produtos .card-produto .preco{
    font-family: Roboto;
    font-size: 20px;
    color: #FF5722;
}
/*paginação*/
.paginaCategorias .produtos .container-fim{
    margin-top: 40px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginaCategorias .produtos .container-fim ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: Abeezee;
    font-size: 20px;
}
.produtos .container-fim ul li img{
    width: 13px;
}
.produtos .container-fim li:first-child{
    transform: rotate(180deg);
}
.produtos .container-fim li a{
    text-decoration: none;
    color: #484848;
}
.produtos .container-fim li a:hover{
    color:#FF5722;
    transition: 0.5s;
}
.produtos .container-fim li a.ativo{
    color:#FF5722;
}

@media (max-width: 1227px){
    .paginaCategorias .produtos .container .filtros{
        margin-left: 30px;
    }
}

@media (max-width: 1304px){
    .paginaCategorias .produtos .titulo{
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 769px){
    .paginaCategorias .filtros{
       display: none;
    }
    .container{
        flex-wrap: wrap;
    }
    .paginaCategorias .produtos .container{
        justify-content: center;
    }
    .paginaCategorias .produtos .container .lista-produtos{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .paginaCategorias .produtos .container .card-produto{
        width: 300px;
    }
    .paginaCategorias .produtos .container .card-produto .thumb img{
        width: 300px;
        height: 210px;
    }
    .paginaCategorias .produtos .menu-filtros{
        display: flex;
        background-color: transparent;
        border-style: none;
        font-family: Roboto;
        color: #419488;
        font-size: 20px;
        text-decoration: underline;
        margin: 10px;
    }
    .paginaCategorias .produtos .menu-filtros:hover{
        cursor: pointer;
        opacity: 80%;
        transition: 0.5s;
    }
    .paginaCategorias .produtos .dropdown {
        position: relative;
        display: flex;
    }
    .paginaCategorias .produtos .dropdown .dropdown-menu {
        position: absolute;
        left: 0;
        width: 70%;
        height: 700px;
        top: calc(100% + .99rem);
        background-color: #FFFFFF;
        border-radius: 15px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all 150ms ease-in-out;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
    .paginaCategorias .produtos .dropdown.active>.menu-filtros+.dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    .paginaCategorias .produtos .dropdown h3{
        color: #419488;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Roboto';
    }
    .paginaCategorias .produtos .dropdown .dropdown-menu ul {
        padding: 0px 10px;
        font-family: Roboto;
        color: #757575;
    }
    .paginaCategorias .produtos .dropdown .dropdown-menu ul li {
        list-style: none;
        margin: 10px;
    }
    .paginaCategorias .produtos .dropdown-menu ul a {
        text-decoration: none;
        color: #757575;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Roboto';
    }
    .paginaCategorias .produtos .dropdown-menu ul a:hover, label:hover {
        color: #419488;
        transition: 0.5s;
    }
}