header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 120px;
    background-color: #F2F1F1;
}

header .btn-header {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding-left: 50px;
}

header .btn-header button {
    display: flex;
    align-items: center;
    border: none;
    gap: 12px;
    cursor: pointer;
    background: transparent;
}

header .btn-header button span {
    font-size: 15px;
    font-weight: bold;
    color: #757575;
    font-family: 'Roboto', sans-serif;  
}

header .btn-header button img {
    width: 15px;
}

header .logo {
    height: 100%;
}

header .logo img {
    height: 100%;
}
